@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,100;1,300;1,400;1,800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.span.invalid-feedback{
    font-weight:300;
    text-align: left;
    font-style: italic;

}

.fixed-background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    
}

.title-clinic{
font-family: 'Poppins', sans-serif;
font-weight: 800;
}

.blackcover{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.716);
    position: fixed;
    top: 0;
    left: 0;
}

.login-title{
    position: relative;
    text-align: center;
    color: #ffffff;
    margin-top: 3%;
    font-weight: 900;
}

.auth-form{
    margin-top: 10%;
    background: rgba(2, 77, 86, 0.386);
    display: inline-block;
    width: 30%;
    padding: 30px;
    border-radius: 10px;
}

.form input[type=email],input[type=password]{
    border: none;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid red;
}

p.login_error {
    color: rgb(245, 61, 61);
}

.form-group .form-feedback-error{
    font-weight: normal;
    font-size: 14px;
    text-align: left !important;
    margin-top: -8px !important;
    margin-left: 22px;
}

/* Media queries for smaller devices */
@media (max-width: 576px) {

    /* Adjust the font size of the title */
    .title-clinic {
        font-size: 1.8rem;
    }

    .auth-form{
        width: 90%;
    }

    /* Adjust the width of the form inputs */
    .form-control {
        width: 100%;
    }
        .form input[type=email],
        input[type=password] {
            border: none;
            height: 40px;
            margin-bottom: 10px;
            padding: 15px;

        }

    /* Adjust the margin of the form check labels */
    .form-check-label {
        margin-left: 0;
    }

    /* Center the form check input and label */
    .form-check-input,
    .form-check-label {
        display: block;
        width: auto;
        text-align: center;
    }

    /* Adjust the padding of the submit button */
    #submit {
        padding: 10px 0;
    }
    

}

/* Media queries for larger devices */
@media (min-width: 577px) {

    /* Adjust the width of the form inputs */
    .form-control {
        width: 75%;
    }

}